---


---


<nav class="sidebar bg-gray-800">
    <div class="halfside">
        <div class="logbox">
            <h3 class="text-center font-bold">Login Now</h3>
            <label for="email"></label><br>
            <input type="email" id="email" name="email" placeholder="Email" required><br>
        </div>
    </div>
</nav>




<style>
    .sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 18rem;
    height: 100%;
    background: #fff;
    backdrop-filter: blur(40px);
    /* border-right: 2px solid rgba(255, 255, 255, 0.2); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 6px 14px;
    transition: 0.5s;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
    }
  .halfside {
    top: 50px;
    margin-top: 0px;
    width: auto;
    height: 23.6rem;
    background: #626c72;
   
    /* border-radius: 15px; */  
    }
  .logbox{
    height: 15rem;
    margin-right:2rem;
    margin-left: 2rem;
    background: #d3e5e7;
    position:  relative;
    top:12rem;
    border-radius: 30px;
  }

</style>